.sidebar{
  width: 8.75%;
  min-height: 80vh;
  border-right: 1.5px solid #bbb9b9;
  border-top:0;
  font-size:max(1vw,10px);
  position: absolute;
}
.sidebar-options{
  padding-top: 50px;
  padding-left:20%;
  display: flex;
  flex-direction:column;
  gap:20px;
}
.sidebar-option{
  display: flex;
  align-items: center;
  gap: 12px;
  border:1px solid #919090;
  border-right: 0;
  padding: 8px 10px;
  border-radius:3px 0px 0px 3px;
  cursor: pointer;
}
.sidebar-option.active{
  background-color: #fff0ed;
  border-color: orangered;
}
@media(max-width:900px){
  .sioebar-option p{
    display: none;
  }
  
}