.register-popup{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background:url(/src/assets/header_img.png)  center/cover;
  display:grid; 
}
.register-popup-container{
  place-self: center;
  width: max(23vw, 330px);
  color: #2f2e2e;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  margin: 12.5px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.register-popup-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.register-popup-title h2{
  margin: 0;
}

.register-popup-title img{
  width: 16px;
  cursor: pointer;
}

.register-popup-inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-popup-inputs input{
  outline: none;
  border: 1px solid #dbd8d8;
  padding: 10px;
  border-radius: 4px;
}

.register-popup-container button{
  border: none;
  padding: 7.5px;
  border-radius: 4px;
  background-color: orangered;
  color: rgb(239, 231, 231);
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-popup-container button:hover{
  background-color: #ff4500;
}

.regsiter-popup-container button:disabled{
  /* background-color: #cccccc; */
  cursor: not-allowed;
}

.register-popup-condition{
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.register-popup-condition input{
  margin-top: 5px;
}

.register-popup-condition p{
  margin: 0;
}

.register-popup p{
  margin: 0;
}

.register-popup p span{
  color: orangered;
  font-weight: 500;
  cursor: pointer;
}

.register-popup p span:hover{
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}