.admin-layout {
  display: flex;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 40px;
}


@media (max-width: 768px) {
  .admin-layout {
    flex-direction: column;
  }
  
  .admin-content {
    padding: 20px;
  }
}